body {
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.5em;
  color: #363636;
}

.login-container {
  padding-top: 100px;
  padding-right: 385px;
  padding-left: 385px;
}

.acesso-negado-container {
  padding-top: 100px;
  padding-right: 185px;
  padding-left: 185px;
}

.acesso-negado-conteudo {  
  background-color: #f7c3c3;
  color: #dc143c;
}

.barra-titulo {
  grid-area: header;
}

.menu {
  grid-area: menu;
}

.principal {
  grid-area: main;
}

.detalhe {
  grid-area: right;
}

.rodape {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.link-desabilitado {
  text-decoration: line-through;
}

.barra-titulo {
  padding-left: 10px;
  border-bottom: #808080 5px;
}

.btn-sair {
  margin-left: 20px;
}

.nav-pills>li>a.active,
.nav-pills>li>a.active:hover,
.nav-pills>li>a.active:focus {
  color: #fff;
  background-color: #428bca;
}