<div class="row mg-left-20">
	<h3>{{ctrl.titulo}}</h3>
</div>
<hr class="linha">
<div class="row">
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2" for="nome">Nome:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="nome" placeholder="Digite um nome"
					ng-model="ctrl.pessoa.nome" ng-disabled="ctrl.perfil == 'ANALISTA'">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="documento">Documento:</label>
			<div class="col-sm-10">
				<input ng-if="ctrl.pessoa.tipo == 'FISICA'" type="text" class="form-control" id="documento" mask="999.999.999-99" clean="true" placeholder="Digite um documento de CPF"
					ng-model="ctrl.pessoa.documento" ng-disabled="ctrl.pessoa.id != null || ctrl.perfil == 'ANALISTA'">

				<input ng-if="ctrl.pessoa.tipo == 'JURIDICA'" type="text" class="form-control" id="documento" mask="99.999.999/9999-99" clean="true" placeholder="Digite um documento de CNPJ"
					ng-model="ctrl.pessoa.documento" ng-disabled="ctrl.pessoa.id != null || ctrl.perfil == 'ANALISTA'">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="dataNascimento">Data de nascimento:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="dataNascimento" placeholder="Digite uma data de nascimento"
					ng-model="ctrl.pessoa.dataNascimento" ng-disabled="ctrl.perfil == 'ANALISTA'">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="dataCadastro">Data de cadastro:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="dataCadastro"
					ng-model="ctrl.pessoa.dataCadastro" disabled>
			</div>
		</div>		 

		<div class="form-group">
			<label class="control-label col-sm-2" for="nomeMae">Nome da mãe:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="nomeMae" placeholder="Digite o nome da mãe"
					ng-model="ctrl.pessoa.nomeMae" ng-disabled="ctrl.perfil == 'ANALISTA'">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="nomePai">Nome do pai:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="nomePai" placeholder="Digite o nome do pai"
					ng-model="ctrl.pessoa.nomePai" ng-disabled="ctrl.perfil == 'ANALISTA'">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="loginOperador">Login do operador:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="loginOperador"
					ng-model="ctrl.pessoa.login" disabled>
			</div>
		</div>		
		<div class="form-group">
			<label class="control-label col-sm-2" for="tipo">Tipo:</label>
			<div class="col-sm-10">
				<select ng-model="ctrl.pessoa.tipo" ng-disabled="ctrl.perfil == 'ANALISTA'">					
					<option value="FISICA" selected>Fisica 
					<option value="JURIDICA">Juridica					
				</select>				
			</div>
		</div>

		<div class="container telefones-container">
			<div class="panel panel-default">
				<div class="panel-heading">
					Telefones
					<div class="pull-right">
						<button ng-click="ctrl.adicionarTelefone()" class="btn btn-default" ng-class="{'link-desabilitado': ctrl.perfil != 'GERENTE'}" ng-disabled="ctrl.perfil != 'GERENTE'">Adicionar</button>
					</div>
				</div>
	
				<ul class="list-group">	
					<li class="list-group-item" ng-repeat="telefone in ctrl.pessoa.telefones">
						<div class="form-group">
							<label class="control-label col-sm-2" for="ddd">DDD:</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" id="ddd"
									ng-model="telefone.ddd" ng-disabled="ctrl.perfil == 'ANALISTA'">
							</div>
						</div>		
						<div class="form-group">
							<label class="control-label col-sm-2" for="numero">Número:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="numero"
									ng-model="telefone.numero" ng-disabled="ctrl.perfil == 'ANALISTA'">
							</div>
						</div>		
						<div class="form-group">
							<label class="control-label col-sm-2" for="dataCadastroTelefone">Data de cadastro:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="dataCadastroTelefone"
									ng-model="telefone.dataCadastro" disabled>
							</div>
						</div>		
						<div class="form-group">
							<label class="control-label col-sm-2" for="loginTelefone">Login:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="loginTelefone"
									ng-model="telefone.login" disabled>
							</div>
						</div>		
						<div class="form-group">
							<label class="control-label col-sm-2" for="tipo">Tipo:</label>
							<div class="col-sm-10">
								<select ng-model="telefone.tipo" ng-disabled="ctrl.perfil == 'ANALISTA'">
									<option value="CELULAR">Celular
									<option value="FIXO">Fixo 
									<option value="COMERCIAL">Comercial
								</select>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">								
								<button class="btn btn-error" ng-click="ctrl.excluirTelefone(telefone)" ng-class="{'link-desabilitado': ctrl.perfil != 'GERENTE'}" ng-disabled="ctrl.perfil != 'GERENTE'">Excluir</button>								
							</div>
						</div>
					</li>
				</ul>		
			</div>	
		</div>
		<hr class="linha">
		<div class="form-group">
			<div class="pull-left mg-left-10">
				<button type="submit" ng-click="ctrl.salvar()" class="btn btn-info" ng-if="ctrl.perfil == 'GERENTE'">Salvar</button>
				<button class="btn btn-default" ui-sref="home.pessoas" ng-if="ctrl.perfil == 'GERENTE'">Cancelar</button>
				<button class="btn btn-default" ui-sref="home.pessoas" ng-if="ctrl.perfil == 'ANALISTA'">Voltar</button>
			</div>
		</div>
	</form>
</div>